@font-face {
  font-family: GothamPro;
  src: url(../fonts/GothaProReg.eot);
  src: local('☺'),url(../fonts/GothaProReg.woff) format('woff'),url(../fonts/GothaProReg.ttf) format('truetype');
}

@font-face {
  font-family: GothamPro-Medium;
  src: url(../fonts/GothaProMed.eot);
  src: local('☺'),url(../fonts/GothaProMed.woff) format('woff'),url(../fonts/GothaProMed.ttf) format('truetype');
}

@font-face {
  font-family: GothamPro-Light;
  src: url(../fonts/GothaProLig.eot);
  src: local('☺'),url(../fonts/GothaProLig.woff) format('woff'),url(../fonts/GothaProLig.ttf) format('truetype');
}

@font-face {
  font-family: GothamPro-Black;
  src: url(../fonts/GothaProBla.eot);
  src: local('☺'),url(../fonts/GothaProBla.woff) format('woff'),url(../fonts/GothaProBla.ttf) format('truetype');
}

@font-face {
  font-family: GothamPro-Bold;
  src: url(../fonts/GothaProBol.eot);
  src: local('☺'),url(../fonts/GothaProBol.woff) format('woff'),url(../fonts/GothaProBol.ttf) format('truetype');
}

.page {
  margin: 0;
  padding: 0 0 0 150px;
  font-family: GothamPro;
  background-color: #fff;
}

.page__main {
  background-color: #ffda2d;
}

.icon {
  width: 67%;
  padding-top: 67%;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon_cam {
  background-image: url(../img/photo.png);
}

.icon_heart {
  background-image: url(../img/heart.png);
}

.icon_box {
  background-image: url(../img/box.png);
}

.icon__text {
  color: #f73934;
}

.btn {
  width: 5.5rem;
  height: 1.59rem;
  background-color: rgba(143,12,0,.1);
  border: 2px solid #f6f6f6;
  text-align: center;
  font-size: .57rem;
  color: #f6f6f6;
  letter-spacing: 1px;
  line-height: 1.79rem;
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: .5s;
  transition-property: background-color;
}

.btn:hover {
  background-color: rgba(143,12,0,.16);
}

.inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.social {
  width: 90px;
  height: 90px;
  background-size: 52px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: .85;
  transition-duration: .3s;
  transition-property: opacity;
}

.social:hover {
  opacity: 1;
}

.social_fb {
  background-color: #326aa2;
  background-image: url(../img/fb.jpg);
}

.social_vk {
  background-color: #3479a8;
  background-image: url(../img/vk.jpg);
}

.social_www {
  background-color: #edbf11;
  background-image: url(../img/www.jpg);
}

.social_yt {
  background-color: #c4070e;
  background-image: url(../img/yt.jpg);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100vh;
  padding-top: 26px;
  background-color: #f6f6f6;
  z-index: 1001;
}

.nav__icon {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-51%) translateY(-51%);
  transform: translateX(-51%) translateY(-51%);
  background-image: url(../img/nav/navIcon.png);
  background-repeat: no-repeat;
  width: 65px;
  height: 67px;
}

.nav__icon_gallery {
  background-position: -318px;
}

.nav__icon_about {
  background-position: 2px -2px;
}

.nav__icon_summer {
  background-position: -167px -1px;
}

.nav__logo {
  margin: 0 auto 15px;
}

.nav__text {
  font-family: GothamPro-Medium;
  font-size: 16px;
  color: #f73934;
}

.nav__item {
  position: relative;
  width: 100%;
  height: 118px;
  text-align: center;
  font-size: 14px;
  color: #555;
  box-sizing: border-box;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  padding-top: 83px;
  background-color: #f6f6f6;
  transition-duration: 1s;
  transition-property: border-color,background-color;
  cursor: pointer;
}

.nav__item:hover {
  border-color: #ddd;
  background-color: #fff;
}

.nav__item_head {
  height: 178px;
  padding-top: 0;
  background-image: none;
  border: none;
}

.nav__item_head:hover {
  background-color: #f6f6f6;
  border: none;
}

.nav__button {
  display: none;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 61px;
  right: 100%;
  letter-spacing: .2px;
  text-transform: uppercase;
  background-color: #f0eded;
  border-left: none;
  border-right: none;
  border-top: 1px solid rgba(155,155,155,.18);
  border-bottom: 1px solid #f0eded;
  font-family: inherit;
  font-size: 12px;
  color: #8e8d8d;
  transition-duration: 1s;
  transition-property: border-color,background-color;
  outline: 0;
  text-shadow: 1px 2px 2px #fff;
  cursor: pointer;
}

.nav__button:hover {
  background-color: #fff;
  border-color: #ddd;
}

.nav_hidden-top {
  top: -80px;
}

.burger-button {
  display: none;
  width: 32.5px;
  height: 25.5px;
  cursor: pointer;
}

.burger-button__line {
  display: block;
  height: 5px;
  width: 32px;
  background-color: #f73934;
  margin-bottom: 5px;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  transition: .5s;
}

.line2 {
  margin-bottom: 6px;
}

.burger-button_is-opened .line1 {
  -webkit-transform: rotate(45deg) translate3d(1.5px,-2.4px,0);
  transform: rotate(45deg) translate3d(1.5px,-2.4px,0);
}

.burger-button_is-opened .line2 {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.burger-button_is-opened .line3 {
  -webkit-transform: rotate(-45deg) translate3d(-1px,0,0);
  transform: rotate(-45deg) translate3d(-1px,0,0);
}

.logo {
  display: block;
  background-image: url(../img/logo.png);
  background-size: cover;
  width: 97px;
  height: 85px;
}

.header {
  position: relative;
  width: 100%;
  padding-top: 45.99%;
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header__icon-block {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  box-sizing: border-box;
  padding-top: 50px;
  height: 6.96rem;
}

.header__icon {
  width: 13.1%;
  margin-right: -45px;
  margin-left: 45px;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  color: #45370a;
  white-space: nowrap;
}

.header__icon_center {
  margin-right: -45.5px;
}

.header__text {
  font-family: GothamPro-Light;
  font-size: 1.18rem;
  color: #f73934;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.18rem;
  padding-top: 21px;
  margin-left: 51px;
}

.header__text_l {
  font-family: GothamPro-Medium;
  font-size: 2.18rem;
  line-height: 1.4rem;
}

.header__text_m {
  font-family: GothamPro-Black;
  font-size: 1.79rem;
  text-transform: none;
  line-height: 1.7rem;
  letter-spacing: 3.15px;
}

.gallery {
  position: relative;
  display: flex;
  background-color: #fff;
  flex-wrap: wrap;
}

.gallery__download {
  width: 50%;
  padding-top: 51.91%;
  background-image: url(../img/gallery_block.jpg);
  background-repeat: no-repeat;
  background-size: 102% 100.1%;
}

.gallery__social {
  position: absolute;
  left: 3.1rem;
  top: .75rem;
  width: 3.76rem;
  padding-top: 15.5%;
  background-image: url(../img/to_gallery.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__text {
  position: absolute;
  top: 6.2rem;
  left: 2.3rem;
  font-family: GothamPro-Bold;
  color: #000;
  font-size: .97rem;
  line-height: 1.25rem;
  letter-spacing: .3px;
}

.gallery__hashteg {
  display: inline-block;
  position: absolute;
  top: 10.2rem;
  left: 2.1rem;
  padding: 0 .19rem;
  background-color: #f6f6f6;
  font-family: GothamPro;
  color: #f73934;
  font-size: 1rem;
  line-height: 1.27rem;
}

.gallery__btn {
  position: absolute;
  top: 12.3rem;
  left: 2.1rem;
}

.gallery__photo {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  min-width: 50%;
  box-sizing: border-box;
}

.gallery__over-photo {
  position: relative;
  margin-bottom: -1px;
  width: 33.3%;
  overflow: hidden;
  box-sizing: border-box;
  border: 3px solid transparent;
}

.photo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 1px;
  right: 0;
  background-size: cover;
  background-position: center;
}

.photo_1 {
  background-image: url(../img/gallery_photos/1.png);
}

.photo_2 {
  background-image: url(../img/gallery_photos/2.png);
}

.photo_3 {
  background-image: url(../img/gallery_photos/3.png);
}

.photo_4 {
  background-image: url(../img/gallery_photos/4.png);
}

.photo_5 {
  background-image: url(../img/gallery_photos/5.png);
}

.photo_6 {
  background-image: url(../img/gallery_photos/6.png);
}

.photo_7 {
  background-image: url(../img/gallery_photos/7.png);
}

.photo_8 {
  background-image: url(../img/gallery_photos/8.png);
}

.photo_9 {
  background-image: url(../img/gallery_photos/9.png);
}

.about {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.about:hover>.about__img {
  -webkit-transform: scale(1.13);
  transform: scale(1.13);
}

.about__mobile {
  display: none;
}

.about__progect {
  position: relative;
  background-image: url(../img/about_block.png);
  background-size: cover;
  padding-top: 52%;
  width: 50%;
  color: #fff;
  z-index: 100;
}

.about__progect::before {
  display: block;
  content: "";
  position: absolute;
  top: 3.7rem;
  left: 99%;
  width: 1.67rem;
  padding-top: 3.86rem;
  background-image: url(../img/arrow.png);
  background-size: 100% 100%;
}

.about__progect::after {
  display: block;
  content: "";
  position: absolute;
  top: 2.3rem;
  left: 1.2rem;
  width: 6rem;
  padding-top: 6.65rem;
  background-image: url(../img/about_block_icons.png);
  background-size: 100% 100%;
}

.about__header {
  position: absolute;
  top: 3.82rem;
  left: 7.43rem;
  width: 50%;
  font-size: 1.36rem;
  line-height: 1.43rem;
  font-family: GothamPro-Bold;
}

.about__text {
  position: absolute;
  top: 9.4rem;
  left: 2.15rem;
  width: 74%;
  font-size: .5rem;
  line-height: .6rem;
}

.about__btn {
  position: absolute;
  top: 11.99rem;
  left: 2.14rem;
  background-color: rgba(143,12,0,.15);
}

.about__btn:hover {
  background-color: rgba(0,0,0,.15);
}

.about__img {
  position: relative;
  width: 50%;
  background-image: url(../img/about_img.jpg);
  background-size: 106% 104.5%;
  background-position: -14.5px -16px;
  transition-duration: 10s;
  transition-timing-function: ease;
  transition-property: transform,-webkit-transform;
}

.summer {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.summer:hover>.summer__img {
  -webkit-transform: scale(1.13);
  transform: scale(1.13);
}

.summer__map {
  position: relative;
  width: 50%;
  padding-top: 52%;
  background-image: url(../img/lays_block.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
}

.summer__map::before {
  display: block;
  content: "";
  position: absolute;
  top: 6.6rem;
  left: -1.6rem;
  width: 1.65rem;
  padding-top: 23%;
  background-image: url(../img/arrow2.png);
  background-size: cover;
}

.summer__text {
  position: absolute;
  top: 10.6rem;
  left: 3.15rem;
  font-family: GothamPro-Bold;
  font-size: 1.5rem;
  white-space: nowrap;
}

.summer__btn {
  position: absolute;
  top: 12.9rem;
  left: 5.05rem;
}

.summer__img {
  position: relative;
  width: 50%;
  background-image: url(../img/lays_img.jpg);
  background-size: 106% 104.5%;
  background-position: -14.5px;
  transition-duration: 10s;
  transition-timing-function: ease;
  transition-property: transform,-webkit-transform;
}

.footer {
  position: relative;
  width: 100%;
  height: 90px;
  background-color: #3c3c3c;
}

.footer__logo {
  margin-left: 10px;
  float: left;
  width: 86px;
  height: 90px;
  background-color: transparent;
  background-image: url(../img/footer_logo.jpg);
  background-size: 72px;
  background-repeat: no-repeat;
  background-position: 9px 0;
}

.footer__copi {
  display: inline;
  font-family: Arial,Helvetica,sans-serif;
  color: #b4b4b4;
  font-size: 12px;
  line-height: 90px;
}

.footer__social {
  float: right;
  display: flex;
}

@-webkit-keyframes link-left {
  from {
    left: 20%;
    opacity: 0;
  }

  to {
    opacity: 1;
    left: 0;
  }
}

@keyframes link-left {
  from {
    left: 20%;
    opacity: 0;
  }

  to {
    opacity: 1;
    left: 0;
  }
}

@-webkit-keyframes link-right {
  from {
    right: 20%;
    opacity: 0;
  }

  to {
    opacity: 1;
    right: 0;
  }
}

@keyframes link-right {
  from {
    right: 20%;
    opacity: 0;
  }

  to {
    opacity: 1;
    right: 0;
  }
}

.animation-left {
  left: 100%;
  -webkit-animation-name: link-left;
  animation-name: link-left;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animation-right {
  right: 100%;
  -webkit-animation-name: link-right;
  animation-name: link-right;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media screen and (min-width:390px) {
  html {
    font-size: 8px;
  }
}

@media screen and (min-width:422px) {
  html {
    font-size: 9px;
  }
}

@media screen and (min-width:454px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width:486px) {
  html {
    font-size: 11px;
  }
}

@media screen and (min-width:518px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width:550px) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width:582px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width:614px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width:646px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width:678px) {
  html {
    font-size: 17px;
  }
}

@media screen and (min-width:710px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width:742px) {
  html {
    font-size: 19px;
  }
}

@media screen and (min-width:774px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width:806px) {
  html {
    font-size: 21px;
  }
}

@media screen and (min-width:838px) {
  html {
    font-size: 22px;
  }
}

@media screen and (min-width:870px) {
  html {
    font-size: 23px;
  }
}

@media screen and (min-width:902px) {
  html {
    font-size: 24px;
  }
}

@media screen and (min-width:934px) {
  html {
    font-size: 25px;
  }
}

@media screen and (min-width:966px) {
  html {
    font-size: 26px;
  }
}

@media screen and (min-width:998px) {
  html {
    font-size: 27px;
  }
}

@media screen and (min-width:1030px) {
  html {
    font-size: 28px;
  }
}

@media screen and (min-width:1059px) {
  html {
    font-size: 29px;
  }
}

@media screen and (min-width:1090px) {
  html {
    font-size: 30px;
  }
}

@media screen and (min-width:1121px) {
  html {
    font-size: 31px;
  }
}

@media screen and (min-width:1152px) {
  html {
    font-size: 32px;
  }
}

@media screen and (min-width:1183px) {
  html {
    font-size: 33px;
  }
}

@media screen and (min-width:1214px) {
  html {
    font-size: 34px;
  }
}

@media screen and (min-width:1245px) {
  html {
    font-size: 35px;
  }
}

@media screen and (min-width:1276px) {
  html {
    font-size: 36px;
  }
}

@media screen and (min-width:1307px) {
  html {
    font-size: 37px;
  }
}

@media screen and (min-width:1338px) {
  html {
    font-size: 38px;
  }
}

@media screen and (min-width:1369px) {
  html {
    font-size: 39px;
  }
}

@media screen and (min-width:1400px) {
  html {
    font-size: 40px;
  }
}

@media screen and (min-width:1432px) {
  html {
    font-size: 41px;
  }
}

@media screen and (min-width:1464px) {
  html {
    font-size: 42px;
  }
}

@media screen and (min-width:1496px) {
  html {
    font-size: 43px;
  }
}

@media screen and (min-width:1528px) {
  html {
    font-size: 44px;
  }
}

@media screen and (min-width:1560px) {
  html {
    font-size: 45px;
  }
}

@media screen and (min-width:1592px) {
  html {
    font-size: 46px;
  }
}

@media screen and (min-width:1624px) {
  html {
    font-size: 47px;
  }
}

@media screen and (min-width:1656px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width:1688px) {
  html {
    font-size: 49px;
  }
}

@media screen and (min-width:1720px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width:1752px) {
  html {
    font-size: 51px;
  }
}

@media screen and (min-width:1784px) {
  html {
    font-size: 52px;
  }
}

@media screen and (min-width:1816px) {
  html {
    font-size: 53px;
  }
}

@media screen and (min-width:1848px) {
  html {
    font-size: 54px;
  }
}

@media screen and (max-width:1400px) {
  .icon {
    margin-bottom: 16px;
  }

  .btn {
    line-height: 1.79rem;
  }

  .social {
    width: 60px;
    height: 60px;
    background-size: 36px;
  }

  .social_fb {
    background-position-x: 54%;
  }

  .header__icon-block {
    height: 7.1rem;
  }

  .header__icon {
    font-size: 14px;
    line-height: 17px;
  }

  .header__text {
    padding-top: 18px;
    line-height: 1.15rem;
  }

  .header__text_m {
    line-height: 1.6rem;
    letter-spacing: 3px;
  }

  .gallery__download {
    padding-top: 52%;
    background-size: 102% 100%;
  }

  .gallery__hashteg {
    top: 10.25rem;
  }

  .gallery__btn {
    top: 12.37rem;
  }

  .about__progect::before {
    left: 98.9%;
  }

  .about__progect::after {
    top: 2.34rem;
    padding-top: 6.63rem;
  }

  .about__header {
    top: 3.85rem;
  }

  .about__text {
    top: 9.45rem;
  }

  .about__btn {
    top: 12.01rem;
    left: 2.15rem;
  }

  .about__img {
    background-position: -12.5px -15px;
  }

  .summer__map::before {
    top: 18.8vw;
  }

  .summer__text {
    top: 10.61rem;
    left: 3.1rem;
  }

  .summer__btn {
    top: 12.96rem;
    left: 5rem;
  }

  .footer {
    height: 60px;
  }

  .footer__logo {
    height: 60px;
    width: 61px;
    background-size: 52px;
    margin-left: 8px;
  }

  .footer__copi {
    font-size: 13px;
    line-height: 64px;
  }
}

@media screen and (max-width:1020px) {
  .page {
    padding-left: 110px;
  }

  .icon {
    margin-bottom: .4rem;
  }

  .nav {
    width: 110px;
  }

  .header__icon-block {
    height: 7.65rem;
  }

  .header__icon {
    font-size: .5rem;
  }
}

@media screen and (max-width:1000px) {
  .social {
    width: 50px;
    height: 50px;
  }

  .header__text_l {
    line-height: 2.4rem;
  }

  .footer {
    height: 50px;
  }

  .footer__logo {
    height: 50px;
    width: 55px;
    background-size: 42px;
  }
}

@media screen and (max-width:680px) {
  .page {
    padding-left: 0;
    padding-top: 80px;
  }

  .page__header {
    margin-bottom: 5px;
  }

  .icon {
    width: 64px;
    height: 64px;
    margin-bottom: 17px;
    padding: 0;
  }

  .btn {
    width: 14.95rem;
    height: 4.2rem;
    line-height: 4.1rem;
    font-size: 1.43rem;
  }

  .social {
    width: 45px;
    height: 42px;
    background-size: 23px;
  }

  .social_fb {
    background-position-x: center;
  }

  .nav {
    width: 100%;
    height: 80px;
    padding-top: 0;
    transition-duration: .5s;
    transition-property: top;
  }

  .nav__icon {
    left: 58px;
  }

  .nav__icon_gallery {
    background-position: -267px 6px;
    background-size: 508% 99%;
  }

  .nav__icon_about {
    background-position: -2.5px 18px;
    background-size: 508% 81%;
  }

  .nav__icon_summer {
    background-position: -136px 11px;
    background-size: 490% 99%;
  }

  .nav__logo {
    display: inline-block;
    margin: 14px 0 0 19px;
  }

  .nav__text {
    display: inline-block;
    position: absolute;
    top: 49%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-55%);
    transform: translateX(-50%) translateY(-55%);
    font-size: 18px;
    letter-spacing: 1px;
  }

  .nav__item {
    height: 81px;
    padding-top: 0;
    text-align: center;
    line-height: 79px;
    border-top: 1px solid rgba(155,155,155,.18);
  }

  .nav__item_head {
    display: block!important;
    text-align: inherit;
    line-height: inherit;
    border: none;
  }

  .nav__button {
    display: block;
  }

  .nav__animation_js {
    right: 100%;
  }

  .burger-button {
    display: inline-block;
    float: right;
    margin-right: 26px;
    padding-top: 27px;
  }

  .logo {
    width: 57px;
    height: 50px;
  }

  .header {
    background-image: url(../img/header_mobile.jpg);
    padding-top: 169.5%;
    background-size: 100% 100%;
  }

  .header__icon-block {
    position: absolute;
    top: 149px;
    left: 49.4%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 77.8%;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
  }

  .header__icon {
    width: 110px;
    margin: 0;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: -.1px;
  }

  .header__icon_center {
    margin: inherit;
    padding-right: 5px;
  }

  .header__text {
    position: absolute;
    top: 0;
    margin-left: 50%;
    -webkit-transform: translateX(-43.8%);
    transform: translateX(-43.8%);
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 23px;
  }

  .header__text_l {
    font-size: 44px;
    letter-spacing: 1px;
    line-height: 47px;
  }

  .header__text_m {
    font-size: 37px;
    line-height: 29px;
    letter-spacing: 1px;
  }

  .gallery__download {
    width: 100%;
    padding-top: 97.3%;
    background-image: url(../img/gallery_block_mobile.png);
    background-size: 100% 100%;
  }

  .gallery__social {
    top: 3.55rem;
    left: 3rem;
    width: 17.5rem;
    padding-top: 15.4rem;
    background-image: url(../img/to_gallery_mobile.png);
  }

  .gallery__text {
    top: 20rem;
    left: 4.7rem;
    font-size: 2.78rem;
    line-height: 3.7rem;
    letter-spacing: -.6px;
  }

  .gallery__hashteg {
    top: 31rem;
    left: 4.05rem;
    padding: 0 .72rem;
    font-size: 2.9rem;
    line-height: 3.7rem;
    letter-spacing: -1.1px;
  }

  .gallery__btn {
    top: 30.8rem;
    left: 55.4%;
  }

  .gallery__photo {
    width: 100%;
    padding: 13px;
  }

  .gallery__over-photo {
    border-width: 2px;
    padding-top: 31.85%;
  }

  .about:hover>.about__img {
    -webkit-transform: none;
    transform: none;
  }

  .about__desktop {
    display: none;
  }

  .about__mobile {
    display: block;
  }

  .about__progect {
    width: 100%;
    margin-bottom: -42px;
    padding-top: 97.5%;
    background-image: url(../img/about_block_mobile.png);
    background-size: 100% 100%;
  }

  .about__progect::before {
    display: none;
  }

  .about__progect::after {
    display: none;
  }

  .about__header {
    top: 5.6rem;
    left: 4.25rem;
    width: 80%;
    font-size: 3.787rem;
    line-height: 4rem;
  }

  .about__text {
    top: 17.09rem;
    left: 4.25rem;
    width: 50%;
    font-size: 1.6rem;
    line-height: 2.24rem;
  }

  .about__btn {
    top: auto;
    bottom: 6.38rem;
    left: 50%;
    font-size: 1.45rem;
    -webkit-transform: translateX(-49%);
    transform: translateX(-49%);
    height: 4.19rem;
    line-height: 4.15rem;
    background-color: rgba(255,245,159,.1);
  }

  .about__btn:hover {
    background-color: rgba(6,5,0,.1);
  }

  .about__img {
    width: 100%;
    padding-top: 111%;
    background-image: url(../img/about_img_mobile.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: -45px;
  }

  .summer:hover>.summer__img {
    -webkit-transform: none;
    transform: none;
  }

  .summer {
    position: relative;
    background-color: #fff;
    margin-bottom: -38px;
  }

  .summer__map {
    width: 100%;
    margin-bottom: -35px;
    padding-top: 98%;
    background-image: url(../img/lays_block_mobile.png);
    background-position-y: 5px;
    background-size: 100% 99%;
  }

  .summer__map::before {
    display: none;
  }

  .summer__text {
    top: auto;
    bottom: 11.45rem;
    left: 50%;
    -webkit-transform: translateX(-48%);
    transform: translateX(-48%);
    font-size: 3.95rem;
  }

  .summer__btn {
    top: auto;
    bottom: 5.4rem;
    left: 50%;
    -webkit-transform: translateX(-45.5%);
    transform: translateX(-45.5%);
  }

  .summer__img {
    width: 100%;
    padding-top: 108%;
    order: 1;
    background-image: url(../img/lays_img_mobile.jpg);
    background-position: -.5px -2px;
    background-size: cover;
  }

  .footer {
    height: 42px;
  }

  .footer__logo {
    display: none;
  }

  .footer__copi {
    margin-left: 29px;
    font-size: 9.5px;
    line-height: 42px;
    letter-spacing: -.58px;
  }

  .footer__copi_is-visible {
    display: none;
  }
}

@media screen and (max-width:400px) {
  .header__icon-block {
    width: 100%;
    padding: 0 5%;
  }
}

@media screen and (max-width:390px) {
  html {
    font-size: 8px;
  }
}