.social {
	width: 90px;
	height: 90px;
	background-repeat: no-repeat;
	background-position: center;
	opacity: .85;
	transition-duration: .3s;
	transition-property: opacity;
	@media screen and (max-width: 1400px) {
		width: 60px;
		height: 60px;
	}
	@media screen and (max-width: 1000px) {
		width: 50px;
		height: 50px;
	}
	@media screen and (max-width: 680px) {
		width: 45px;
		height: 42px;
	}
	&:hover {
		opacity: 1;
	}
	&_fb {
		background-color: #326aa2;
		background-image: url("../img/facebook-logo.png");
		background-size: 29px;
		@media screen and (max-width: 1400px) {
			background-size: 20px;
		}
		@media screen and (max-width: 680px) {
			background-size: 12px;
		}
	}
	&_vk {
		background-color: #3479a8;
		background-image: url("../img/vk-icon.png");
		background-size: 29px;
		@media screen and (max-width: 1400px) {
			background-size: 20px;
		}
		@media screen and (max-width: 680px) {
			background-size: 12px;
		}
	}
	&_www {
		background-color: #edbf11;
		background-image: url("../img/www.jpg");
		background-size: 51px;
		@media screen and (max-width: 1400px) {
			background-size: 36px;
		}
		@media screen and (max-width: 680px) {
			background-size: 23px;
		}
	}
	&_yt {
		background-color: #c4070e;
		background-image: url("../img/yt.jpg");
		background-size: 52px;
		@media screen and (max-width: 1400px) {
			background-size: 36px;
		}
		@media screen and (max-width: 680px) {
			background-size: 23px;
		}
	}
}

