.summer__text {
	position: absolute;
	top: 10.6rem;
	left: 3.15rem;
	font-family: GothamPro-Bold;
	font-size: 1.5rem;
	white-space: nowrap;
	@media screen and (max-width: 1400px) {
		top: 10.61rem;
		left: 3.1rem;
	}
	@media screen and (max-width: 680px) {
		top: auto;
		bottom: 11.45rem;
		left: 50%;
		transform: translateX(-48%);
		font-size: 3.95rem;
	}
	@media screen and (max-width: 360px) {
		bottom: 11.2rem;
		font-size: 3.5rem;
	}
}