.burger-button_is-opened {
	.burger-button__line_1 {
		transform: rotate(45deg) translate3d(1.5px,-2.4px,0);
	}
	.burger-button__line_2 {
		transform-origin: 50% 50%;
		transform: scaleX(0);
	}
	.burger-button__line_3 {
		transform: rotate(-45deg) translate3d(-1px, 0, 0);
	}
}