.burger-button_is-opened {
	.line1 {
		transform: rotate(45deg) translate3d(0px, -2px, 0);
	}
	.line2 {
		transform-origin: 50% 50%;
		transform: scaleX(0);
	}
	.line3 {
		transform: rotate(-45deg) translate3d(-2px, 0, 0);
	}
}