.header {
	position: relative;
	width: 100%;
	padding-top: 45.99%;
	background-image: url("../img/header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	@media screen and (max-width: 680px) {
		background-image: url("../img/header_mobile.jpg");
		padding-top: 169.5%;
		background-size: 100% 100%;
	}
}